version: 2

registries:
  github:
    type: git
    url: https://github.com/
    username: x-access-token
    password: ${{ secrets.HALFPIPE_REPOS_READ_PAT }} # saved as a dependabot secret

updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    groups:
      go-dependencies:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: /
    registries: "*"
    schedule:
      interval: daily
    groups:
      github-actions:
        patterns:
          - "*"